<section class="hero column" role="region" aria-labelledby="hero-title">
  <div>
    <h1 id="hero-title">Marcell Lévai</h1>
    <p class="first-line">
      Full Stack Developer
      <span class="commented-code">//Angular + C#.Net</span>
    </p>
    <p>
      Ready to <span class="line-through">code</span> solve people's problems
    </p>
    <div id="primary-links">
      <a href="#experience" class="button" aria-label="See my work experience">Experience</a>
      <a href="#contact" class="button" aria-label="Contact me">Contact</a>
    </div>
  </div>
  <!-- original size: 512x640 -->
  <div class="hero-image">
    <web-img [src]="'assets/img/hero-me.jpg'" [width]="530" [height]="663" [alt]="'Marcell Lévai, a full stack developer, smiling in a professional headshot.'"></web-img>
  </div>
</section>
