<section id="about-me">
  <div>
    <h2>About Me</h2>
    <br />
    <p>
      I love meeting new people, exploring different cultures, and discovering new places. Last year, I spent a year
      traveling. I worked through the process of getting my Italian citizenship, traveled across Spain, and volunteered
      at a hostel in Málaga. There, I met people from all over the world, practiced languages, and exchanged cultures
      (like teaching how to drink mate like Messi). I'm fluent in English, a Spanish native speaker, and I also speak
      basic Italian.
    </p>
    <br />
    <p>
      When I'm not coding, I like:
    </p>
    <div class="code-snippet" aria-label="Code snippet">
      <span class="keyword">let</span><span class="variable"> hobbies</span> = <span
        class="open-close-symbol">[</span><span class="literal-value">'Running'</span>, <span
        class="literal-value">'Hiking'</span>, <span class="literal-value">'Kayaking'</span>, <span
        class="literal-value">'Music'</span>, <span class="literal-value">'Films'</span>, <span
        class="literal-value">'Reading'</span>, <span class="literal-value">'Languages'</span><span
        class="open-close-symbol">]</span>;
    </div>
  </div>
  <div><img src="assets/img/about-me.png" alt="Marcell Lévai standing in front of a scenic background with a small town and a path." /></div>
</section>
